<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/css/admin/style.css">
      <script src="/scripts/admin/menu.js"> </script>
      <title>Editar usuario</title>
    </head>
  <body> 
    <nav class="navbar has-shadow is-justify-content-center" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item">
          <h1>Administrador</h1>
        </div><a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="menuAdmin"><span aria-hidden="true"></span><span aria-hidden="true"></span><span aria-hidden="true"></span></a>
      </div>
    </nav>
    <div class="container">
      <div class="columns">
        <aside class="aside column is-2 is-fullheight section invisible-on-touch is-full-touch" id="menuAdmin">
          <p class="menu-label">Administrador</p>
          <ul class="menu-list">
            <li><a href="/admin/user/all">Usuarios</a>
              <ul> 
                <li><a href="/admin/user/registry">Registrar</a></li>
              </ul>
            </li>
          </ul>
          <p class="menu-label">Informes
            <ul class="menu-list">
              <li><a href="/admin/logginRegistry">Bitácora</a></li>
            </ul>
          </p>
          <hr><a class="button is-light is-danger is-fullwidth" href="/logout/">Logout</a>
        </aside>
        <div class="column is-10 is-fullheight section is-full-touch">
          <div class="hero is-info is-small">
            <div class="hero-body">
              <p class="title">Editar Usuario</p>
              <p class="subtitle">Cambia los datos y da guardar para editar el usuario {{.user.Email}}</p>
            </div>
          </div>
          <div id="app">
            <form class="form mt-5" ref="updateForm">
              {{.csrfField}}
              <div class="field-group">
                <div class="field">
                  <label class="label">Nombre(s)</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Nombres(s)" v-model="user.name">
                  </div>
                  <p class="help is-danger" v-if="!$v.user.name.required">El nombre es requerido</p>
                </div>
                <div class="field">
                  <label class="label">Apellido Paterno</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Apellido Paterno" v-model="user.paternal_surename">
                  </div>
                  <p class="help is-danger" v-if="!$v.user.paternal_surename.required">El apellido paterno es requerido</p>
                </div>
              </div>
              <div class="field-group">
                <div class="field">
                  <label class="label">Apellido Materno</label>
                  <div class="control">
                    <input class="input" type="text" placeholder="Apellido Materno" v-model="user.maternal_surename">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Correo Electrónico</label>
                  <div class="control">
                    <input class="input" type="email" placeholder="Correo Electrónico" v-model="user.email">
                  </div>
                  <p class="help is-danger" v-if="!$v.user.email.required">El email es requerido</p>
                  <p class="help is-danger" v-if="!$v.user.email.email">El email no tiene el formato correcto</p>
                </div>
              </div>
              <hr>
              <div class="field-group">
                <div class="field">
                  <label class="label">Rol</label>
                  <div class="select">
                    <select v-model="user.rol_id" class="input">
                      <option v-for="rol in roles" :key="rol.id" :value="rol.id">{% rol.description %}</option>
                    </select>
                  </div>
                  <p class="help is-danger" v-if="!$v.user.rol_id.required">Debes de escoger un rol</p>
                </div>
              </div>
              <div class="buttons is-justify-content-flex-end mt-2">
                <div class="button is-primary" ref="saveButton" @click="save">Guardar</div>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/scripts/admin/vuelidate.min.js"></script>
    <script src="/scripts/admin/validators.min.js"></script>
    <script>
      Vue.use(window.vuelidate.default)
      const { required, minLength, sameAs, email } = window.validators

      let app = new Vue({
        el: "#app",
        delimiters: ['{%', '%}'],
        validations: {
          user: {
            name: {
              required
            },
            paternal_surename: {
              required
            },
            maternal_surename: {

            },
            email: {
              required,
              email
            },
            rol_id: {
              required
            },
          }
        },
        data: {
          user: {{ .user }},
          roles: {{ .roles }},
        },
        methods: {
          async save() {
            this.$v.user.$touch()
            if (this.$v.user.$invalid) {
              alert("Favor de validar la información.")
              return
            }
            this.$refs.saveButton.classList.add("is-loading")
            let inputs = this.$refs.updateForm.querySelectorAll(".input")
            inputs.forEach(i => {
              i.disabled = true
            })

            let res = await fetch("/admin/user/update", {
              method: "PUT",
              headers: {
                "X-CSRF-Token": document.getElementsByName("gorilla.csrf.Token")[0].value
              },
              body: JSON.stringify(this.user)
            })

            switch(res.status) {
              case 500:
                alert("Hubo un error interno. Favor de contactar a soporte.")
                this.$refs.saveButton.classList.remove("is-loading")
                inputs.forEach(i => {
                  i.disabled = false
                })
                break
              case 400:
                alert("Favor de validar que los datos esten bien llenos")
                this.$refs.saveButton.classList.remove("is-loading")
                inputs.forEach(i => {
                  i.disabled = false
                })
                break
              case 404:
                alert("El usuario que desea modificar no existe")
                location.href = "/admin/user/all"
                break
              case 200:
                alert("Se ha modificado correctamente el usuario")
                location.reload()
                break
            }
          }
        }
      })
    </script>
  </body>
</html>